{% load static %}
<link rel="stylesheet" href= "{% static 'todos/todo.css'%}">
<link rel="stylesheet" href="{% static 'user/user.css'%}">

<nav class="material-nav">
    <ul>
        <li><a class='a-home' href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
        <li><a class='a-logout' href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class='a-signup' href="{% url 'signup' %}">Signup</a></li>
        <li><a class='a-login' href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>