
<html lang="en">
{% include 'todos/_head.html' with title='Todo App' %}
<body>
    {% include 'todos/_navbar.html' %}
    <div class="app-container">
        
        <header class='header'>
            <h1>Todo App</h1>
        </header>
        
        {% if request.user.is_authenticated %}
        <h3>Hello {{request.user.username}}</h3>
        {% endif %}
        
        
        <form action="{% url 'create_todo' %}" method='post'>
            {% csrf_token %}
            <input type='text' name='text' placeholder='Todo:'>
            <select name='priority'>
                {% for priority in priorities %}
                <option value='{{priority.id}}'>{{priority.text}}</option>
                {% endfor %}
            </select>
            <button class="add-todo-button">Add</button>
        </form>
        
        
        <div class='todo-list'>
            {% for todo in todos %}
            <p>{{ todo.text }}</p>
            <p>Created: {{ todo.created_at }}</p>
            <p>Priority: {{ todo.priority.text }}</p>
            <hr>
            {% endfor %}
        </div>
    </div>

</body>
</html>